<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Omochill VR</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <!-- タブ・メニュー -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Living" data-toggle="tab">Living</a></li>
                <li><a href="#Kitchen" data-toggle="tab">Kitchen</a></li>
                <li><a href="#Entrance" data-toggle="tab">Entrance</a></li>
            </ul>

            <!-- タブ内容 -->
            <div class="tab-content">
                <div class="tab-pane active" id="Living">
                    <iframe src="living.html" width="100%" height="700px"></iframe>
                </div>
                <div class="tab-pane" id="Kitchen">
                        <iframe src="kitchen.html" width="100%" height="700px"></iframe>
                </div>
                <div class="tab-pane" id="Entrance">
                        <iframe src="entrance.html" width="100%" height="700px"></iframe>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>